<!DOCTYPE html>
<html lang="en">

<body>
    <div >

            <h1 class=h1>Consultar Crédito</h1>
            <h1 class="text-center">Crédito</h1>

            <font size="5">
                <div class=div>
                    <!-- Número de Crédito -->
                    <label>Número del Crédito: </label> <input class=input id="numeroCredito"
                        name="numeroCredito" type="number" autofocus
                        placeholder="Ingrese el número de crédito">
                </div>

        <div align="center">
	<input name ="opcion" class=input type="submit" class=btn1 type="button"value="Consultar Crédito">
						
       <p> Número de Crédito:${numeroCredito}</p>
       <p> Saldo:${saldoCredito}</p>
       <p> Fecha de Apertura:${fechaApertura}</p>  
       <p> Tasa de Interes:${tasaInteres}</p>  
								
       </div>
</body>