<div class="formulario">
    <h1>Consultar Historial</h1>
    <form method="post">
        <div class="Username">
            <p>Número de Sucursal: {{ idSucursal }} </p>
        </div>
        <div class="Username">
            <p>Número de cuenta: {{ n }} </p>
        </div>
        <div class="Username">
            <p>Saldo: {{ saldo }} </p>
        </div>
        <div class="Username">
            <p>Movimiento: {{ movimiento }} </p>
        </div>
        <div class="Username">
            <p>Fecha Movimiento: {{ fechaMovimiento }} </p>
        </div>
        <div class="Username">
            <p>Descripción: {{ ultimoMovimeinto }} </p>
        </div>

        <a href="index.html"> <input  type="button" value="Aceptar"></a>

    </form>
</div>

</html>