<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Sucursal</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <div class="header__superior">
            <div class="logo">
                <img src="static/imagenes/boyacense.png" alt="">
            </div>
        </div>
        <h1 class=h1>Actualizar Sucursal</h1>
        <div class=div>
            <div class=div>
                <!-- Identificador -->
                    <label>Número de Sucursal: </label> <input class=input id="idSucursal"
                    name="idSucursal" type="number" autofocus
                    placeholder="Ingrese el identificador">
                </div>
                <p></p>
                 <!-- Nombre-->
                <div class=div>
                    <label>Nombre de la Sucursal: </label> <input class=input id="nombreSucursal"
                        name="nombreSucursal" type="text" autofocus
                        placeholder="Ingrese el nombre">
                </div> 
                <p></p>
                 <!-- Dirección-->
                 <div class=div>
                    <label>Dirección: </label> <input class=input id="direccion"
                        name="direccion" type="text" autofocus
                        placeholder="Ingrese la dirección">
                </div> 
                <p></p>
                 <!-- Telefóno-->
                 <div class=div>
                    <label>Telefóno: </label> <input class=input id="telefono"
                        name="telefono" type="number" autofocus
                        placeholder="Ingrese el telefono">
                </div>
                 <input class="submit" type="submit" value="Actualizar">
</body>
</html>