<!DOCTYPE html>
<html lang="en">

<body>

    <h1 class="text-center">Cuenta Corriente</h1>

    <h1 class=h1>Crear Cuenta Corriente</h1>

    <div class=div>
        <!-- Nùmero de Cuenta -->
            <label>Número de Cuenta: </label> <input class=input id="numeroCuenta"
            name="numeroCuenta" type="number" autofocus
            placeholder="">
    </div>

    <div class=div>
        <!-- Saldo -->
            <label>Saldo: </label> <input class=input id="saldoCuenta"
            name="saldoCuenta" type="number" autofocus
            placeholder="Ingrese el valor del saldo">
    </div>
    <div class=div>
        <!-- Fecha Apertura -->
       <label>Fecha de Apertura: </label> <input class=input id="fechaApertura"
       name="fechaApertura" type="date" autofocus
       placeholder="dd/mm/aa">
   </div> 
   <div class=div>
    <!-- Tasa de interes -->
        <label>Tasa de interes: </label> <input class=input id="tasaInteres"
        name="tasaInteres" type="number" autofocus
        placeholder="Ingrese la tasa de interes">
    </div>
</body>