<!DOCTYPE html>
<html lang="en">

<body>

    <h1 class="text-center">CDT</h1>

    <h1 class=h1>Crear CDT</h1>

    <!-- Nùmero de CDT -->
    <div class=div>
            <label>Número de CDT: </label> <input class=input id="numeroCdt"
            name="numeroCdt" type="number" autofocus
            placeholder="">
    </div>

    <!-- Identificador -->
    <div class=div>
            <label>Número de Sucursal: </label> <input class=input id="idSucursal"
            name="idSucursal" type="number" autofocus
            placeholder="Ingrese la Sucursal">
    </div>

    <!-- Saldo -->
    <div class=div>
            <label>Saldo: </label> <input class=input id="saldoCdt"
            name="saldoCdt" type="number" autofocus
            placeholder="Ingrese el valor del saldo">
    </div>

     <!-- Fecha Apertura -->
    <div class=div>
       <label>Fecha de Apertura: </label> <input class=input id="fechaApertura"
       name="fechaApertura" type="date" autofocus
       placeholder="dd/mm/aa">
   </div> 

    <!-- Tasa de interes -->
   <div class=div>
        <label>Tasa de interes: </label> <input class=input id="tasaInteres"
        name="tasaInteres" type="number" autofocus
        placeholder="Ingrese la tasa de interes">
    </div>

     <!-- Ultimo movimiento -->
     <div class="div">
        <label>Ultimo movimiento:</label><input class=input id="ultimoMovimeinto"
        name="ultimoMovimeinto" type="text" autofocus
        placeholder="Ingrese el movimiento">
     </div>
     <!-- Usuario -->
     <div class="div">
        <label>Usuario:</label><input class=input id="cedula"
        name="cedula" type="number" autofocus
        placeholder="Ingrese la cédula">
     </div>
    <div class=div>
        <!-- Clausula -->
            <label>Cláusula: </label> <input class=input id="clausula"
            name="clausula" type="number" autofocus
            placeholder="Ingrese la clausula">
    </div>

    <div class=div>
        <!-- Retención -->
            <label>Retención: </label> <input class=input id="retencion"
            name="retencion" type="number" autofocus
            placeholder="Ingrese la retención">
    </div>

    <div class=div>
        <!-- Fecha Finalización -->
       <label>Fecha de Finalización: </label> <input class=input id="fechaFinalizacion"
       name="fechaFinalizacion" type="date" autofocus
       placeholder="dd/mm/aa">
   </div> 

   <div class=div>
    <!-- Interes Aproximado -->
        <label>Interes Aproximado: </label> <input class=input id="interesAprox"
        name="interesAprox" type="number" autofocus
        placeholder="Ingrese el interes aproximado">
    </div>

    <input class="submit" type="submit" value="Crear CDT">
        
</body>
