<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deshabilitar Sucursal</title>
    <link rel="stylesheet" href="static/css/style.css"><!-- une  -->
</head>
<body>
<!--MENU-->
<header>
    <div class="header__superior">
        <div class="logo">
            <img src="static/imagenes/Principal1.png" alt="">
        </div>
    </div>
    
</body>
<!-- LOGICA -->

<div class="formulario">
    <h1>¿Qué sucursal deseas deshabilitar?</h1>
    <form method="post">

        <label for="idSucursal">Id Sucursal</label>
        <select name="idSucursal" id="idSucursal" class="Username">
            {% for id_sucursal in sucursal %}
            <option value="{{ loop.index }}">{{ id_sucursal }}</option>
            {% endfor %}
        </select>


        <input class="submit" type="submit" value="Deshabilitar">
    </form>
</div>
<div class="header-content container">
    <img src="static/imagenes/Boyacense.jpg" alt="">
</div>
</html>