<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emergente Usuario</title>
    <link rel="stylesheet" href="css/style.css"><!-- une  -->
</head>
<body>
<!--MENU-->
<header>
    <div class="header__superior">
        <div class="logo">
            <img src="static/imagenes/boyacense.png" alt="">
        </div>
    </div>
</header>

</body>
<!-- LOGICA -->

<div class="formulario">
    <h1>Se ha registrado el usuario correctamente </h1>

    <a href="/index.html"> <input type="button" value="volver"></a>

</div>
<div class="header-content container">
    <img src="static/imagenes/boyacense.png" alt="">
</div>
</html>