<!DOCTYPE html>
<html lang="en">

<body>
        <header class="tm-header" id="tm-header">
    
            <div class="tm-header-wrapper">
    
                <div class="tm-site-header">
                    <div class="tm-site-logo"></div>
                    <h1 class="text-center">Usuarios del Banco Boyacense</h1>
                </div>
            </div>
        </header>

        <div>
            <h1 class=h1>Registro Personal</h1>


						<div class=div>
                        <!-- Cedula -->
						    <label>Número de Identificación: </label> <input class=input id="cedula"
					        name="cedulaUsuario" type="number" autofocus
						    placeholder="Ingrese su cedula">
						</div>
                        <div class=div>
							<!-- nombre-->
							<label>Nombres: </label> <input class=input id="nombres"
								name="nombre" type="text" autofocus
								placeholder="Ingrese sus nombres">
						</div> 
                        <div class=div>
							<!-- apellidos-->
							<label>Apellidos: </label> <input class=input id="apellidos"
								name="apellidos" type="text" autofocus
								placeholder="Ingrese sus apellidos">
						</div> 
						<div class=div>
							<!-- Direccion-->
							<label>Dirección: </label> <input class=input id="direccion"
								name="direccion" type="text" autofocus
								placeholder="Ingrese su dirección">
						</div>
					</div> 
					<!--Telefono-->
					<div class=div>
						<label>Teléfono: </label> <input class=input id="telefono"
						type="text" name="telefono" placeholder="Ingrese su telefono">
					</div>
					<!--Correo-->
					<label>Correo: </label> <input class=input id="correo"
					name="correo" type="text" autofocus
					placeholder="Ingrese su correo">
					
					 <div class=div>
					 <!-- Contraseña -->
						 <label>Contraseña: </label> <input class=input id="contrasena"
							 type="password" name="contrasena"
							 placeholder="Ingrese su contrasena">
					 </div>
					 <div class=div>
						<!-- Rol-->
						<label>Rol: </label> <input class=input id="rol"
							name="rol" type="text" autofocus
							placeholder="Ingrese su rol">
					</div> 
                        <div class=div>
							 <!-- Fecha Nacimiento -->
                            <label>Fecha de Nacimiento: </label> <input class=input id="fechaNacimiento"
							name="fechaNacimiento" type="date" autofocus
							placeholder="dd/mm/aa">
						</div> 
                        <div class=div>
                            <!-- Fecha Expedición -->
                            <label>Fecha de Expedición: </label> <input class=input id="fechaExpedicion"
                            name="fechaExpedicion" type="date" autofocus
                            placeholder="dd/mm/aa">
                       </div>
					   <div class=div>
						<!-- Estado-->
						<label>Rol: </label> <input class=input id="estado"
							name="estado" type="text" autofocus
							placeholder="Estado">
					</div> 

					<!--Municipio-->
					<div class=div>
						<label>Municipio: </label> <input class=input id="municipio"
						type="text" name="municipio" placeholder="municipio">
					</div>

					<input class="submit" type="submit" value="Crear">
		</body>
